<!DOCTYPE html>
<html>
<head>
  <title>Modulecounts</title>
  <%= stylesheet_link_tag "/stylesheets/smoothness/jquery-ui-1.8.7.custom.css" %>
  <%= javascript_include_tag "/javascripts/jquery-1.4.4.min.js" %>
  <%= javascript_include_tag "/javascripts/jquery-ui-1.8.7.custom.min.js" %>
  <%= javascript_include_tag "/javascripts/excanvas.min.js" %>
  <%= javascript_include_tag "/javascripts/application.js" %>
  <%= javascript_include_tag "/javascripts/jquery.flot.js" %>
  <%= csrf_meta_tag %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4000969-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

    $(function() {
       $("#about").click(function() {
          $("#about_box").dialog({ maxWidth: 500,
                                   minWidth: 400,
                                   show: "slide",
                                   title: "About Module Counts" }); 
       });
     });

</script>
<style>
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    background: #000000;
}

.pagebody {
    position: relative;
    width: 800px;
    padding: 30px 30px 30px 30px;
    margin: auto;
    margin-top: -10px;
    background: #ffffff;
}

.pagecontent {
    margin-bottom: 40px;
}

a {
    color: #000000;
}

a:visited {
    color: #000000;
}

div.footer {
    position: relative;
    margin-bottom: 0px 150px 0px -20px;
    width: 100%;
    border-top: 1px solid #999;
}

div.footer a {
    float: right;
}

</style>
</head>
<body>
<div class="pagebody">
  <div class="pagecontent">

    <%= yield %>

  </div>
    <div class="footer">
      <a href="#" id="about">about</a>
      <div id="about_box" style="display: none">


      <p>I started manually
      tracking the number of modules in the
      Perl, Python and Ruby repositories as part of selecting a development
      framework at a previous employer.  Eventually, I automated it and put it up on Heroku for
      others to see.  The gap between doing it manually and spending
      some <a href="http://cafebedouins.com">Cafe Bedouins</a> time to
      automate it is why there's
      a big gap in the data.</p>


      <p>Source code is available at <a href="http://github.com/edebill/modulecounts">github</a>.
      </p>
      
      <p>-<a href="http://erik.debill.org/">Erik DeBill</a>.</p>

      </div>
    </div>
</div>
</body>
</html>
